services:
  kafka:
    image: bitnami/kafka:4.0.0
    hostname: kafka
    container_name: kafka
    ports:
      - "19092:19092"
    environment:
      # KRaft
      KAFKA_CFG_NODE_ID: 0
      KAFKA_CFG_PROCESS_ROLES: controller,broker
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: 0@kafka:9093
      # Listeners
      KAFKA_CFG_LISTENERS: PLAINTEXT://:9092,CONTROLLER://kafka:9093,EXTERNAL://0.0.0.0:19092
      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:SASL_PLAINTEXT,EXTERNAL:SASL_PLAINTEXT,PLAINTEXT:SASL_PLAINTEXT  # Map the protocols
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,EXTERNAL://127.0.0.1:19092
      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: CONTROLLER
      # Disable auto topic creation
      KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE: "false"
      # SASL
      KAFKA_CFG_SASL_ENABLED_MECHANISMS: SCRAM-SHA-512,PLAIN
      KAFKA_CFG_SASL_MECHANISM_INTER_BROKER_PROTOCOL: SCRAM-SHA-512
      KAFKA_CFG_SASL_MECHANISM_CONTROLLER_PROTOCOL: PLAIN

      # Username and password for application
      KAFKA_CLIENT_USERS: user1,user2
      KAFKA_CLIENT_PASSWORDS: password1,password2
    volumes:
      - ./data-docker/kafka/data:/bitnami/kafka
    restart: unless-stopped

  kafka-ui:
    image: provectuslabs/kafka-ui:v0.7.2
    container_name: kafka-ui
    ports:
      - "18080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: "kafka:9092"
      KAFKA_CLUSTERS_0_PROPERTIES_SECURITY_PROTOCOL: SASL_PLAINTEXT
      KAFKA_CLUSTERS_0_PROPERTIES_SASL_MECHANISM: "SCRAM-SHA-512"
      KAFKA_CLUSTERS_0_PROPERTIES_SASL_JAAS_CONFIG: org.apache.kafka.common.security.scram.ScramLoginModule required username="user1" password="password1";
    depends_on:
      - kafka