services:
  kafka:
    image: apache/kafka:4.1.1
    hostname: kafka
    container_name: kafka
    ports:
      - "19092:19092"
    environment:
      # KRaft
      KAFKA_NODE_ID: 0
      KAFKA_PROCESS_ROLES: controller,broker
      KAFKA_CONTROLLER_QUORUM_VOTERS: 0@kafka:9093
      # Listeners
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://kafka:9093,EXTERNAL://0.0.0.0:19092,INTERNAL_SECURE://0.0.0.0:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,EXTERNAL:SASL_SSL,PLAINTEXT:PLAINTEXT,INTERNAL_SECURE:SASL_SSL
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,EXTERNAL://127.0.0.1:19092,INTERNAL_SECURE://kafka:29092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      # Disable auto topic creation
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "false"
      # SASL
      KAFKA_SASL_ENABLED_MECHANISMS: SCRAM-SHA-512,PLAIN
      KAFKA_SASL_MECHANISM_INTER_BROKER_PROTOCOL: SCRAM-SHA-512
      KAFKA_SASL_MECHANISM_CONTROLLER_PROTOCOL: PLAIN

      # --- SSL (PEM CONFIG) ---
      # Keystore (The Broker's Identity)
      KAFKA_SSL_KEYSTORE_TYPE: PEM
      KAFKA_SSL_KEYSTORE_LOCATION: /etc/kafka/secrets/certs/kafka.pem
      # Truststore (Who the broker trusts - typically the CA)
      KAFKA_SSL_TRUSTSTORE_TYPE: PEM
      KAFKA_SSL_TRUSTSTORE_LOCATION: /etc/kafka/secrets/certs/kafka.crt

      # Client Auth: NONE = Clients verify server, Server doesn't verify client certs
      # Client Auth: REQUIRED = Clients verify server, Server verify client certs
      KAFKA_SSL_CLIENT_AUTH: "required"

      # Point Kafka to the mounted JAAS file
      KAFKA_OPTS: "-Djava.security.auth.login.config=/etc/kafka/secrets/kafka_server_jaas.conf"

      # Storage
      KAFKA_LOG_DIRS: /var/lib/kafka/data
      # Fix consumer error => no coordinator
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    volumes:
      - ./data-config/kafka/certs/kafka.crt:/etc/kafka/secrets/certs/kafka.crt:ro
      - ./data-config/kafka/certs/kafka.pem:/etc/kafka/secrets/certs/kafka.pem:ro
      - ./data-docker/kafka/data:/var/lib/kafka/data
      # Mount the JAAS file (read-only)
      - ./conf/kafka_server_jaas.conf:/etc/kafka/secrets/kafka_server_jaas.conf:ro
    healthcheck:
      test: ["CMD-SHELL", "/opt/kafka/bin/kafka-topics.sh --bootstrap-server localhost:9092 --list || exit 1"]
      interval: 5s
      timeout: 10s
      retries: 5
    restart: unless-stopped

  # This container creates the SCRAM user automatically
  init-kafka:
    image: apache/kafka:4.1.1
    depends_on:
      kafka:
        condition: service_healthy
    entrypoint: [ '/bin/sh', '-c' ]
    command: |
      "
      echo 'Creating SCRAM user...'
      # Wait for Kafka to be ready is handled by depends_on + healthcheck above
      
      # Create the user 'user1' with password 'password1'
      /opt/kafka/bin/kafka-configs.sh --bootstrap-server kafka:9092 --alter --add-config 'SCRAM-SHA-512=[password=password1]' --entity-type users --entity-name user1
      /opt/kafka/bin/kafka-configs.sh --bootstrap-server kafka:9092 --alter --add-config 'SCRAM-SHA-512=[password=password2]' --entity-type users --entity-name user2
      
      echo 'User created. Exiting.'
      "

  kafka-ui:
    image: provectuslabs/kafka-ui:v0.7.2
    container_name: kafka-ui
    ports:
      - "18080:8080"
    depends_on:
      - kafka
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: "kafka:29092"
      KAFKA_CLUSTERS_0_PROPERTIES_SECURITY_PROTOCOL: SASL_SSL
      KAFKA_CLUSTERS_0_PROPERTIES_SASL_MECHANISM: "SCRAM-SHA-512"
      KAFKA_CLUSTERS_0_PROPERTIES_SASL_JAAS_CONFIG: org.apache.kafka.common.security.scram.ScramLoginModule required username="user1" password="password1";
      KAFKA_CLUSTERS_0_PROPERTIES_SSL_TRUSTSTORE_LOCATION: /kafka-certs/kafka.crt
      KAFKA_CLUSTERS_0_PROPERTIES_SSL_TRUSTSTORE_TYPE: PEM
    volumes:
      - ./data-config/kafka/certs/kafka.crt:/kafka-certs/kafka.crt:ro
    